<div class="container" *ngIf="contact">
  <h1>{{ contact?.company }}</h1>
  <form   #contactForm="ngForm">
    <div class="form-group">
      <label for="name">Firmenname</label>
      <input type="text" class="form-control" id="company" required  [(ngModel)]="contact.company" name="company"
      #name="ngModel">
    </div>



    <button type="button" class="btn btn-success" (click)="save()">Speichern</button>
    <button type="button" class="btn btn-cancel" (click)="reset()">Abbrechen</button>

  </form>
</div>
